trigger:
  - master
pr:
  branches:
    exclude:
    - master

pool:
  vmImage: 'windows-latest'

steps:
- task: DotNetCoreCLI@2
  displayName: 'dotnet restore'
  inputs:
    command: restore
    projects: '**/*.csproj'
- task: DotNetCoreCLI@2
  displayName: 'Build project'
  inputs:
    projects: '**/*.csproj'
    arguments: '--configuration Release --output $(System.DefaultWorkingDirectory)/functions'
- task: ArchiveFiles@2
  displayName: 'Archive files'
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)/functions'
    archiveFile: '$(Build.ArtifactStagingDirectory)/functions/$(Build.BuildId).zip'
    includeRootFolder: false
- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: $(Build.ArtifactStagingDirectory)/functions
    artifactName: functions
- script: |
    cd web
    tsc main.ts -t ES2019
- task: CopyFiles@2
  inputs:
    contents: 'web/**'
    targetFolder: $(Build.ArtifactStagingDirectory)/web/
- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: $(Build.ArtifactStagingDirectory)/web
    artifactName: web

