trigger:
  - master
pr:
  - none

pool:
  vmImage: 'windows-latest'

steps:
- task: DotNetCoreCLI@2
  displayName: 'dotnet restore'
  inputs:
    command: restore
    projects: '**/*.csproj'
- task: DotNetCoreCLI@2
  displayName: 'Build project'
  inputs:
    projects: '**/*.csproj'
    arguments: '--configuration Release --output $(System.DefaultWorkingDirectory)/functions'
- task: ArchiveFiles@2
  displayName: 'Archive files'
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)/functions'
    archiveFile: '$(Build.ArtifactStagingDirectory)/functions/$(Build.BuildId).zip'
    includeRootFolder: false
- script: |
  cd web
  tsc main.ts -t ES2019
- task: CopyFiles@2
  inputs:
    contents: 'web/**'
    targetFolder: $(System.DefaultWorkingDirectory)/web/
- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: $(Build.ArtifactStagingDirectory)/functions
    artifactName: functions
- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: $(Build.ArtifactStagingDirectory)/web
    artifactName: web

