trigger:
  - master
pr:
  - master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: DotNetCoreCLI@2
  displayName: 'Build project'
  inputs:
    projects: '**/*.csproj'
    arguments: '--configuration Release --output $(System.DefaultWorkingDirectory)/publish_output'
- task: DotNetCoreCLI@2
  displayName: 'Test project'
  inputs:
    command: test
    projects: '**/*.csproj'
- script: |
    bash <(curl -s https://codecov.io/bash) -t $CODECOV_TOKEN
  displayName: 'Upload code coverage'
  env:
    CODECOV_TOKEN: $(CODECOV_TOKEN)