.notification-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

.notification-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.notification-form-1 h3{
    text-align: center;
    color: #0066ff;
}

.notification-container form{
    padding: 10%;
}

.notification-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0066ff;
}

.notification-form-1 .bold{
    color: #0066ff;
    font-weight: 600;
    text-decoration: none;
}
